In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('D:/glassdoor_jobs.csv')

In [4]:
df.shape

(3750, 4)

In [5]:
df.head()

,Job Title,Company,Location,Salary
0,Junior Software Engineer,"CommIT Enterprises, Inc","Quantico, VA",$61K - $94K (Glassdoor est.)
1,"Software Engineer, Referrals",Chime,"San Francisco, CA",$126K - $175K (Employer est.)
2,Sr Software Engineer (BE),Ria Money Transfer,"Buena Park, CA",$120K - $150K (Employer est.)
3,Java Engineer (Junior/Middle) ID32277,AgileEngine,United States,NaN
4,Software Engineer - Data APIs,EnergyCAP,"Boalsburg, PA",$63K - $103K (Glassdoor est.)

In [6]:
duplicates = df[df.duplicated(['Company', 'Job Title'], keep=False)]

# Sort by company and title for better visualization
duplicates_sorted = duplicates.sort_values(['Company', 'Job Title'])

# Display results
print(f"Found {len(duplicates)} duplicate job titles within companies")
print(duplicates_sorted)

# Get summary counts
dupe_summary = duplicates.groupby(['Company', 'Job Title']).size().reset_index(name='count')
print("\nDuplicate summary:")
print(dupe_summary[dupe_summary['count'] > 1])

Found 3723 duplicate job titles within companies
                                 Job Title  Company          Location  \
62                Junior Software Engineer  123.NET  Byron Center, MI
122               Junior Software Engineer  123.NET  Byron Center, MI
212               Junior Software Engineer  123.NET  Byron Center, MI
332               Junior Software Engineer  123.NET  Byron Center, MI
482               Junior Software Engineer  123.NET  Byron Center, MI
...                                    ...      ...               ...
1875  Senior Software Engineer, Team Sites  the NBA      Secaucus, NJ
2205  Senior Software Engineer, Team Sites  the NBA      Secaucus, NJ
2565  Senior Software Engineer, Team Sites  the NBA      Secaucus, NJ
2955  Senior Software Engineer, Team Sites  the NBA      Secaucus, NJ
3375  Senior Software Engineer, Team Sites  the NBA      Secaucus, NJ

                             Salary
62     $60K - $90K (Glassdoor est.)
122    $60K - $90K (Glassdoor est.)
212    $60K - $90K (Glassdoor est.)
332    $60K - $90K (Glassdoor est.)
482    $60K - $90K (Glassdoor est.)
...                             ...
1875  $140K - $165K (Employer est.)
2205  $140K - $165K (Employer est.)
2565  $140K - $165K (Employer est.)
2955  $140K - $165K (Employer est.)
3375  $140K - $165K (Employer est.)

[3723 rows x 4 columns]

Duplicate summary:
                                      Company  \
0                                     123.NET
1    21st Century Software Technologies, Inc.
2                                    7-ELEVEN
3                                    ADS, Inc
4                         AIPHONE CORPORATION
..                                        ...
405                                  dbt Labs
406                              i3 Verticals
407                                    kraken
408                                        m9
409                                   the NBA

                                Job Title  count
0                Junior Software Engineer     15
1              Graduate Software Engineer      8
2                    Software Engineer II     12
3                       Software Engineer     10
4                    Software Engineer II      2
..                                    ...    ...
405     Staff Software Engineer, Metadata      6
406                     Software Engineer     14
407       Software Engineer II - Frontend      9
408                     Software Engineer     13
409  Senior Software Engineer, Team Sites     14

[410 rows x 3 columns]

In [7]:
df_clean = df.dropna()

In [9]:
df_clean.shape

(3255, 4)

In [11]:
df_clean.isna().sum()

Job Title    0
Company      0
Location     0
Salary       0
dtype: int64

In [12]:
df_clean.to_csv('D:/glassdoor_jobs.csv', index=False)