In [1]:
import pandas as pd
from sklearn_extra.cluster import KMedoids
import numpy as np

In [2]:
list = [[2,6],[3,8],[None,7], [6,2], [6,4],[7,],[7,4],[8,5],[7,4], [3,4]]
print(list)

[[2, 6], [3, 8], [None, 7], [6, 2], [6, 4], [7], [7, 4], [8, 5], [7, 4], [3, 4]]

In [3]:
df = pd.DataFrame(list)

In [4]:
df.columns = ['x', 'y']

In [5]:
df.to_csv('C:/Users/Elzoz/Desktop/output.csv', index=False)

In [6]:
df.fillna(df['y'].mode()[0], inplace= True)
df.fillna(df['x'].mode()[0], inplace= True)

In [7]:
df

     x    y
0  2.0  6.0
1  3.0  8.0
2  4.0  7.0
3  6.0  2.0
4  6.0  4.0
5  7.0  4.0
6  7.0  4.0
7  8.0  5.0
8  7.0  4.0
9  3.0  4.0

In [8]:
data = np.array(df)

In [9]:
k = 2 
KMedoids = KMedoids(n_clusters=k).fit(data)
clusters = KMedoids.cluster_centers_
labels = KMedoids.labels_

In [10]:
data

array([[2., 6.],
       [3., 8.],
       [4., 7.],
       [6., 2.],
       [6., 4.],
       [7., 4.],
       [7., 4.],
       [8., 5.],
       [7., 4.],
       [3., 4.]])

In [11]:
clusters

array([[2., 6.],
       [7., 4.]])

In [12]:
for j in range (k):
    for i in range (len(data)):
        if (j == labels[i]):
            x = data[i]
            print('cluster',j,':',x)

cluster 0 : [2. 6.]
cluster 0 : [3. 8.]
cluster 0 : [4. 7.]
cluster 0 : [3. 4.]
cluster 1 : [6. 2.]
cluster 1 : [6. 4.]
cluster 1 : [7. 4.]
cluster 1 : [7. 4.]
cluster 1 : [8. 5.]
cluster 1 : [7. 4.]

In [13]:
dfff = pd.DataFrame({
    'X': [point[0] for point in data],
    'Y': [point[1] for point in data],
    'Cluster': labels
})

print(dfff)

     X    Y  Cluster
0  2.0  6.0        0
1  3.0  8.0        0
2  4.0  7.0        0
3  6.0  2.0        1
4  6.0  4.0        1
5  7.0  4.0        1
6  7.0  4.0        1
7  8.0  5.0        1
8  7.0  4.0        1
9  3.0  4.0        0